/*** Region Task object ***/

.o-task {
    background-color: #f6f6f9;
    padding: 5% 2%;
    position: relative;
}

.o-task--shadow-right {
    -webkit-box-shadow: 4px 0px 8px -2px rgba(102, 102, 102, 1);
    -moz-box-shadow: 4px 0px 8px -2px rgba(102, 102, 102, 1);
    box-shadow: 4px 0px 8px -2px rgba(102, 102, 102, 1);
}

.o-task__title {
    font-size: 1.5em;
    font-weight: bold;
}

.o-task__paragraph {
    font-size: 1em;
    color: rgb(117, 117, 117);
}

@media (min-width: 840px){
    .o-task\@desktop{
        padding: 2% 5%;
    }
}


/*** EndRegion Task object ***/


/*** Region Evaluation object ***/

.o-evaluation {
    background-color: transparent;
}

.o-evaluation__description {
    background-color: #FFF;
    padding: 5% 10%;
}

.o-evaluation__paragraph {
    font-size: 0.9em;
    color: rgb(117, 117, 117);
}

.o-evaluation__container{
    margin-bottom: 2%;
}

/*** EndRegion Evaluation object ***/


/*** Region Contacts object ***/

.o-contacts {
    background-color: #e1ebf1;
}

.o-contacts__list {
    list-style: none;
    padding: 0 5%;
    margin: 0;
}

.o-contacts__list__item {
    margin-bottom: 5%;
}

.o-contacts__card {
    background-color: #FFF;
    border-left: 6px solid #FFF;
    padding: 4%;
}

.o-contacts__card--border-blue {
    border-left: 6px solid #00F;
}

.o-contacts__card--border-red {
    border-left: 6px solid #F00;
}

.o-contacts__card__paragraph {
    font-size: 0.9em;
    color: rgb(117, 117, 117);
}

.o-contacts__card__separator {
    padding: 5%;
}

@media (max-width: 839px){
    .o-contacts__list\@mobile {
        padding: 0;
    }
    .o-contacts__list__item\@mobile {
        margin: 1% 0;
    }
}

/*** EndRegion Contacts object ***/


/*** Region main object ***/
.o-main{
    background-color: #e1ebf1;
    border-right: 2px solid #e1ebf1
}

/*** EndRegion main object ***/